<!--The content below is only a placeholder and can be replaced.-->
<nav>

    <a routerLink="/config" routerLinkActive="active"><div class="router-link-labels">Melodic Dictation</div></a>
    
    
</nav>
<h1>Ear Training</h1>
<p>The Ear Trainer is designed to help improve your ear
for melody. Make melodies of any length and any key. Configure the playback speed
to your level. For now, octaves 4, 5, and 6 are available (C4 - B6).
</p>
<router-outlet>
    <app-config></app-config>
    
    <!-- <app-login></app-login>
    <app-register></app-register>
    <app-profile></app-profile>
    <app-item></app-item> -->
</router-outlet>



