app-config {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: max-content;
}

h1 {
    text-align: center;
}

p {
    width: 500px;
    margin-right: auto;
    margin-left: auto;

}

nav {
    background-color: darkslategrey;
    height: 4vh;
    font-family: Verdana,sans-serif;
    font-weight: lighter;
    font-size: 12px;
    line-height: 35px;
}

nav > a {
    color: white;
    text-decoration: none;
    display: inline-block;
    height: 100%;
    margin-left: 1%;
    
}


/* app-root {
    padding: 10%;
    font-family: Arial, sans-serif;
    font-weight: 100;
    color: darkslategrey;
} */
