form > input {
    /* width: 45%; */
    /* margin-right: 2%; */
    /* font-size: 20px; */
    /* padding: 1%; */
    border-radius: 10px;
    float: left;
}

form {
    float: left;
    
}

select {
    border-radius: 10px;
}



ul {
    position: absolute;
    z-index: 1;
    /* overflow: visible;
    display: inline-block; */
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    margin-left: 175px;
}

ul > li {
    border-radius: 20px;
    list-style: none;
    border: solid;
    text-align: center;
    z-index: 1;
    opacity: 1;
    background-color: white;
    margin-bottom: 2px;
    font-size: 14px;
    padding-left: 2px;
    padding-right: 3px;
    line-height: 20px;
    /* width: 25%; */
    /* transform: translate(50px, 100px); */
}

li:nth-child(1){
    /* opacity: 1;
    background-color: white; */
}

li:nth-child(2) {
    /* margin-top: -21px; */
    /* opacity: 1;
    background-color: white; */
}
/*
li:nth-child(3) {
    margin-top: -22px;
    opacity: 1;
    background-color: white;
}
 
li:nth-child(4) {
    margin-top: -22px;
    opacity: 1;
    background-color: white;
    z-index: 2;
}

li:nth-child(5) {
    margin-top: -22px;
    opacity: 1;
    background-color: white;
}

li:nth-child(6) {
    margin-top: -22px;
    opacity: 1;
    background-color: white;
} 

li:nth-child(7) {
    margin-top: -22px;
    opacity: 1;
    background-color: white;
} */
:root {

    --value: 20px;
    /* --value2: calc(var(--value)+20px); */
    --value2: var(--value);

}
li {
    
    /* display: inline-block;
    float: left;
    clear: left; */

    animation: translate .25s;
    
    /* animation: fadeIn 3s; */
    /* transform: translateY(-20deg); */
    /* margin-bottom: 2px; */
    /* position: absolute;
    z-index: 1; */
  }

  .li-one {
      /* animation: retract .25s; */
  }



  @keyframes retract {

      0% {
        
        /* transform: translateY(var(--value)); */
        transform: translateY(20px);

        /* opacity: 1; */
      }

      100% {
        /* opacity: 0; */
      }
  }
  
  @keyframes translate {
    0% {
      transform: translateY(-20px);
      opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        /* opacity: 1; */
    }
  }

#modes {
    margin-top: 1%;
}

.notes {
    /* margin-right: auto;
    margin-left: auto; */
    /* width: fit-content; */
}

#update, #submit, #melody, #octaves, #response, #input, #control{
    /* margin-right: auto;
    margin-left: auto; */
    /* width: fit-content; */
}

#update > * {
    /* font-size: 15px; */
}

#response {
    /* height: 50px; */
}

#response {
    height: 50px;
}

button {
    background-color: darkslategrey;
    color: white;
    border-radius: 8px;
    padding-left: 2%;
    padding-right: 2%;
    border-color: darkslategrey;
}

#info {
    margin-left: 11%;
}

.tooltip {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    /* border-bottom: 1px dotted black; */
  }
  
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

@font-face {
    font-family: 'icomoon';
    src:  url('../../assets/icons/fonts/icomoon.eot');
    src:  url('../../assets/icons/fonts/icomoon.eot') format('embedded-opentype'),
      url('../../assets/icons/fonts/icomoon.ttf') format('truetype'),
      url('../../assets/icons/fonts/icomoon.woff') format('woff'),
      url('../../assets/icons/fonts/icomoon.svg') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-info:before {
    content: "\ea0c";
  }