.anim {
    white-space: pre-wrap;
    
    /* color: red; */
    line-height: 10px;
    margin: 0;
}

#anima {
    color: rgb(126, 214, 43);
    height: 30%;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    white-space: pre-wrap;
}