form > input {
    /* width: 45%; */
    /* margin-right: 2%; */
    /* font-size: 20px; */
    /* padding: 1%; */
}

#modes {
    /* margin-right: auto;
    margin-left: auto; */
    /* width: fit-content; */
    margin-top: 1%;
}

.notes {
    /* margin-right: auto;
    margin-left: auto; */
    /* width: fit-content; */
}

#update, #submit, #melody, #octaves, #response, #input, #control{
    /* margin-right: auto;
    margin-left: auto; */
    /* width: fit-content; */
}

#update > * {
    /* font-size: 15px; */
}

#response {
    /* height: 50px; */
}